.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 80vh;
  margin-top: 70px;

  will-change: opacity;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider {
  width: 100%;
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@-webkit-keyframes slider {
  0%,
  20%,
  100% {
    left: 0;
  }
  25%,
  45% {
    left: -100%;
  }
  50%,
  70% {
    left: -200%;
  }
  75%,
  95% {
    left: -300%;
  }
}

.image {
  border-radius: 10px;
  width: 100%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 10s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 10s;
  transform: scale(10.08);
}
