.swiper-button-next {
  color: rgb(190, 153, 49);

  margin-right: -5px;
}
* {
  font-family: "Shippori Mincho B1", serif;
}
.swiper-button-prev {
  color: rgb(190, 153, 49);
}
.swiper-pagination {
  color: rgb(190, 153, 49);
}
.swiper-container {
  color: rgb(190, 153, 49);
}
.Swiper {
  margin-left: 15px;
}
p {
  margin-top: 0ch;
  color: gray;
}
h5 {
  color: rgb(36, 32, 32);
  font-weight: bold;
  margin-top: 5px;
}
.top-slider:hover {
  border-color: rgb(59, 57, 57);
}

.slidetop:hover {
  background: linear-gradient(to bottom, #b4a988 0%, #fff 1%);
  background-color: rgba(59, 57, 57);
}
.card {
  width: 20rem;
}
@media only screen and (max-width: 850px) {
  #topcard {
    width: 10rem;
    height: 300px;
    margin-right: 6px;
  }
  #title {
    margin: 0px;
    font-size: 13px;
  }
  .card-text {
    font-size: 12px;
    color: black;
  }
  .btn {
    width: 100px;
    height: 40px;
    padding: 0;
    margin: 0px;
  }
  #tb {
    font-size: 11px;
  }
}
.t {
  margin-top: 400px;
}
.swiper-slide {
  width: auto;
}
#tb {
  border: 1px solid rgb(190, 153, 49);
  color: rgb(190, 153, 49);
}
#tb:hover {
  background-color: rgb(190, 153, 49);
  color: white;
}
