#imgsignin {
  display: flex;
  flex: 40%;
  margin-left: 20px;
  height: 60vh;
}
#btn1 {
  margin-left: 50%;
}
#s {
  margin-left: 50%;
}
@media only screen and (max-width: 750px) {
  #s {
    margin-right: 50px;
    font-size: 12px;
  }
  #btn1 {
    margin-right: 50%;
  }
  #imgsignin {
    display: none;
  }
  #f {
    margin-top: 0px;
    margin-right: 70%;
  }

  label {
    align-items: inherit;
  }
  #form-inputsingin {
    margin-left: -500px;
  }
  #h {
    margin-left: -50px;
  }
  #btn-signIn {
    margin-left: -80px;
  }
}
@media only screen and (max-width: 850px) {
  #f {
    margin-right: 70%;
  }
  #imgsignin {
    display: none;
  }
  #form-inputsingin {
    margin-left: -500px;
  }
  #h {
    margin-left: -50px;
  }
  #btn-signIn {
    margin-left: -80px;
  }
}
@media only screen and (max-width: 950px) {
  #f {
    margin-right: 70%;
  }
  #imgsignin {
    display: none;
  }
  #imgstyle {
    height: 20vh;
  }
  #form-inputsingin {
    margin-left: -500px;
  }
  #h {
    margin-left: -50px;
  }
  #btn-signIn {
    margin-left: -80px;
  }
  #back {
    margin-left: -60px;
  }
  #fp {
    margin-left: 10px;
    margin-right: -120px;
  }
}
#imgstyle {
  height: 50vh;
  margin-left: -40%;
}
#f {
  margin-left: 50%;
}
