* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

section .imagebox {
  position: relative;
  width: 50%;
  height: 100%;
}

section .imagebox:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, rgba(190, 153, 49), black);
  z-index: 1;
  mix-blend-mode: screen;
}
section .imagebox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .ContentBox {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50%;
  height: 100%;
}

section .ContentBox .formBox {
  width: 50%;
}

section .ContentBox .formBox h2 {
  color: rgba(190, 153, 49);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid rgba(190, 153, 49);
  display: inline-block;
  letter-spacing: 1px;
}
section .ContentBox .formBox .inputBox {
  margin-bottom: 20px;
}
section .ContentBox .formBox .inputBox span {
  font-size: 15px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
  letter-spacing: 1;
}

section .ContentBox .formBox .inputBox input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}
section .ContentBox .formBox .inputBox input[type="submit"] {
  background: rgba(190, 153, 49);
  color: white;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
section .ContentBox .formBox .inputBox input[type="submit"]:hover {
  background: rgb(218, 165, 32);
}
section .ContentBox .formBox .remember {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}
section .ContentBox .formBox .inputBox p {
  color: #607d8b;
}
section .ContentBox .formBox .inputBox p a {
  color: rgba(190, 153, 49);
}
section .ContentBox .formBox h3 {
  color: rgba(190, 153, 49);
  text-align: center;
  margin: 80px 0 10px;
  font-weight: 500;
}

section .ContentBox .formBox .sci {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .ContentBox .formBox .sci li {
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
/*section .ContentBox .formBox .sci li:hover{
    color:brown;
}
section .ContentBox .formBox .sci li img{
    transform: scale(0.5);
    filter: invert(1);
}*/

@media (max-width: 768px) {
  section .imagebox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  section .ContentBox {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  section .ContentBox .formBox {
    width: 100%;
    padding: 40px;
    background: rgb(225 225 225 /0.9);
    margin: 50px;
  }
  section .ContentBox .formBox h3 {
    color: rgba(190, 153, 49);
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
  }
}
